.conteinerBenefist{
    h1{
        font: {
            family: 'Chakra Petch', sans-serif;
            size: 500%;
        }
        text-align: center;
        color: $colorPrimario;
        margin: 15%;
        margin-bottom: 8%;
    }

    // Card

    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background: $colorBackgroudTextos;
        margin-bottom: 5rem;
        padding-top: 2rem;
        
    div{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 29rem;
        background: none;
        border-style: none;
        div{
            text-align: center;
            h5{
                text-align: center;
                font-size: medium;
                color: $colorSecundario;
            }
            p{
                margin-right: 40px;
                text-align: center;
                font-size: small;
                animation-name: none;
            }
            a{
                justify-content: first baseline;
                width: 8rem;
                background: $colorBackgroudTextos;
                margin-left: 19%;
                margin-bottom: 0%
            }
        }
        
    }
}
// Fin Card   
    div{
        p{
            font: {
                family: map-get($estiloTextos, $key: tFuente);
                size: map-get($estiloTextos, $key: size);
            }
        text-align: center;
        padding: 0px;
        color: $colorTextos;
        @extend .rectanguloRedondeado;
            animation: {
                name: benefist__parrafo;
                duration: 5s;
                delay: 0;
        }
    }
    }
}





/*Animaciones*/
@keyframes benefist__parrafo{
    from {
        margin-left: 100%;
        width: 300%
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }
}

 

/*Responsive*/

@media (max-width: 375px){
    .benefist__titulo{
        font-size: 250%;
        line-height: normal;
    }
}
@media (max-width: 375px){
    .benefist__parrafo{
        font-size: 150%;
        padding: 5%;
        margin: 2%;
    }
}
