.footer{
    nav{
        grid-area: footer;
        p{
            text-align: center;
            margin-top: 50px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
        }
        ul{ 
            display: flex;
            justify-content:center;
            justify-items: space-between;
            list-style: none;
            
            
            li{
                
                a{
                    
                    display: flex;
                    justify-items: space-between;
                    padding-right: 30px;
                    width: 100%;
                    color: $colorSecundario;
                }
            }
        }
    }
}