.footer{
    nav{
        grid-area: footer;
        ul{ 
            display: flex;
            justify-content:center;
            list-style: none;
            li{
                a{
                    
                    display: inline-block;
                    justify-content: center;
                    width: 100%;
                    color: $colorSecundario;
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }
        }
    }
}