
@mixin margin ( $margin-top, $margin-bottom){
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
}
.rectanguloRedondeado{
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;
    border-bottom-left-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
}
.titulos{
    text-align: center;
    color: $colorPrimario;
    margin-top: 10%;
    font: {
        family:'Chakra Petch', sans-serif;
        size:500%;
    }
}

@media (max-width: 767px){
    #menu{
        display: none;
    }
}


h2{
    color: $colorSecundario;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $colorTextos;
}
section{
    width: 100%;
    margin: 0%;
    padding: 0%;
}

img{
    border-radius: 50%;
    display: flex;
    margin: auto;
    border-radius: 50%;
}

.fondo{
    background-image: url(../img/universe\ fondo\ 3.jpg);
    background-size: cover;
}

.color__titulo__navmovil{
    color: silver;
    font-size: 2rem;
    background: rgb(4, 4, 27);
}
.color__Pages__navmovil{
    color: silver;
    background: linear-gradient(to bottom, rgb(4, 4, 27), rgb(15, 15, 68));
}
.nav-item-margin{
    margin-top: 10%;
    font-size: 150%;
}

* {
    Margin:0;
    padding:0;
}
body{
    width: 100vw;
    overflow: auto;
}
header{
    width: 100%;
    grid-area: header;
}
main{
    width: 100%;
}

@media (max-width: 375px){
    .redondeadoImagenes{
    height: 17rem;
}
}  
   /* Bootstrap */
   @media (min-width: 768px){
    #vista__celular{
        display: none;
        margin-bottom: 50%;
    }
}