

header{
    // Menu de navegacion .
    nav{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;
        align-items: center;
        margin-top: 10px;
        div{
            a{
                text-decoration: none;
                display: flex;
                flex-direction: row;
                color: $colorSecundario;
                font: {
                    family:'Chakra Petch', sans-serif;
                    size: 17.5px;
                    weight:bold;
                } 
                .iconoHome:hover{
                transform: scale(1.5);
                transition: 0.5s;
                }
                &hover{
                font-size: 25px;
                transition: 0.5s;
            }
            }
        }
    }
}




