.grid__home{
    display: grid;
    justify-items: center;
    grid-template-areas: 
    "h1"
    "h2"
    "img "
    "text"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}


.conteinerHome{
    text-align: center;
        h1{
            @extend .titulos;
            @include margin(2%, 0%);
        }
        h2{
            color: $colorSecundario;
            font: {
                size: large;
                family: serif;
            }
        }
        img{
            display: block;
            margin: auto;
            border-radius: 50%;
            grid-area: img;
            align-self: center;
            animation: {
                name: animacionImagenCentral;
                iteration-count:initial;
                timing-function:ease-in-out;
                duration: 5s;
                delay: 0;
            }
            
        }

    }
    #text{
        grid-area: text;
        text-align: center;
        h2{
            color: $colorSecundario;
            font-size: 33px;
            margin-top: 4%;
        }
        p{
            color: $colorTextos;
            font-size: large; 
        }

    }

// Responsive

@media (max-width: 375px){
    .home__parrafo{
        font-size: 90%;
    }
}

@media (max-width: 768px){
    .home__titulo{
        margin-top: 9%;
        font-size: 270%;
}
}

@media (max-width: 375px){
    .home__titulo2{
        font-size: 160%;
}
}

// Animaciones

@keyframes animacionImagenCentral{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

