$colorPrimario: rgb(70, 55, 110);
$colorSecundario: rgb(136, 107, 163);
$colorBackgroud: rgb(40, 14, 61);
$colorTextos: rgb(183, 164, 240);
$colorBackgroudTextos:radial-gradient(rgba(23, 19, 38, 0.96), transparent);

$estiloTextos: (
    alineado: center,
    color: rgb(80, 72, 105),
    tFuente: 'Lucida Sans' 'Lucida Sans Regular' 'Lucida Grande' 'Lucida Sans Unicode' Geneva Verdana sans-serif,
    size:30px,
);
