.conteinerWhitelist{
    h1{
        animation: {
            name: wl__titulo;
            duration: 5s;
            delay: 0; 
        }
        font: {
            family: 'Chakra Petch', sans-serif;
            size: 450%;
        }
        
        margin: 15%;
        color: rgb(56, 31, 58);
        @extend .rectanguloRedondeado;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        color: $colorTextos;
        text-align: center;
        font: {
            family: Georgia, 'Times New Roman', Times, serif;
            weight: 700;
        }
        background: {
            color: $colorBackgroudTextos;
            size:auto;
        }
        
        div{
            input{
                font: {
                    family: Georgia, 'Times New Roman', Times, serif;
                    weight: bold;
                }
                    color: $colorTextos;
                    height: 27px;
                    width: 100px; 
                    background: $colorBackgroudTextos;
                    margin: 2px;
            
        } 
    }
}
div{
    p{
        font: {
            family: map-get($estiloTextos, tFuente, );
            weight: bold;
            size: 20px;
        }
        color:$colorTextos;
        text-align: map-get($estiloTextos, alineado,);
        margin-top: 40px;
        
    }
}


/*Animaciones*/
@keyframes wl__titulo{
    from {
        margin-right: 100%;
        opacity: 0%;
    }
    
    to {
        margin-right: 15%;
        opacity: 100%;
    }
}
/*Responsive*/

 @media (max-width: 375px){
    .wl__titulo{
        font-size: 210%;
        line-height: normal;
    }
}
@media (max-width: 375px){
    .wl__parrafo{
        font-size: 65%;
    }
}

}
@media (max-width: 375px){
    .wl__imput{
        height: auto;
        width: auto;
    }
}

