.grid__wwa{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 15% 1.3fr 1.6fr 7%; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". wwa__titulo ."
    "img texto img2"
    ". form ."
    ". footer ."; 
    justify-content: center;
    justify-items: center;
    align-content: center;
    
}


.conteinerWwa{
    div{
        h1{
            grid-area: h1;
            @extend .titulos;
            @include margin(5%, 5%);
        }
    }
        div{
            div{
                img{
                    @keyframes img{
                        0%{opacity: 0;}
                        100%{opacity: 1;}
                    }
                    grid-area: img;
                    animation: {
                        name: img;
                        iteration-count:initial;
                        timing-function:ease-in-out;
                        duration: 10s;
                        delay: 0;
                    }
                }
            }
            div{
                p{
                grid-area: texto;
                font-family: 'Chakra Petch', sans-serif;
                font-size: 200%;
                color: $colorTextos;
                text-align: center;
                padding: 7%;
                line-height: 300%;
                animation: {
                    name: wwa__parrafo;
                    iteration-count:initial;
                    timing-function:ease-in-out;
                    duration: 3s;
                    delay: 0; 
                }
                @keyframes wwa__parrafo{
                    0%{opacity: 0;}
                    100%{opacity: 1;}
                }    
            }
            }
            div{
                img{
                    @keyframes img2{
                        0%{opacity: 0;}
                        100%{opacity: 1;}
                    }
                    animation: {
                        name: img2;
                        iteration-count:initial;
                        timing-function:ease-in-out;
                        duration: 10s;
                        delay: 0;
                    }
                }
            }
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                grid-area: form;
                legend{
                    font: {
                        family: 'Courier New', Courier, monospace;
                        size: 30px;
                        weight: bold;
                    }
                    color: rgba(109, 100, 142, 0.94);
                    text-align: center;
                }
                div{
                    margin-left: 50px;
                    label{
                        font: {
                            family: Georgia, 'Times New Roman', Times, serif;
                            weight: 700;
                        }
                        color:  rgba(109, 100, 142, 0.94);
                    }
                    input{
                        font: {
                            family: Georgia, 'Times New Roman', Times, serif;
                            weight: bold;
                        }
                        color: $colorTextos;
                        height: 17px;
                        width: 100px; 
                        background: $colorBackgroudTextos; 
                    }
                    input{
                        height: 25px;
                        background-color: rgba(85, 51, 99, 0.768);
                    }
                }
                div{
                    textarea{
                        margin-top: 5px;
                        background: $colorBackgroudTextos;
                    }
                }
            }
        }
}



.text_img{
    display: flex;
    align-items: center;
}

// Responsive

@media (max-width: 768px){
    #img{
        display: none;
    }
    #img2{
        display: none;
    }
}

@media (max-width: 375px){
    .wwa__comentarios__legend{
        font-size: 100%;
        margin-bottom: 10%;
    }
}

@media (max-width: 375px){
    .wwa__parrafo{
        font-size: 140%;
        line-height: normal;
    }
}
